
body{
    background: #23272a;
    color: white;
    font-family: 'Rajdhani', sans-serif; 
}
.bground{
    background-image: url(../images/synthwave-3941721_1920.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

header{
    display: flex;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
    font-size: larger;
}


nav{
    margin: 25px 0;
    display: flex;
    justify-content: space-around;
}



.btn{
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
    color: #7289da;
    background-color: transparent;
    text-align: center;
}

.dltbtn {
    align-self: center;
    border-style: solid;
    border-radius: 10px;
    border-color: #7289da;
    padding: 5px;
    margin-left: 20px;
    text-decoration: none;
    color: #7289da;
    background-color: transparent;
    text-align: center;
}

.btn:hover, .dltbtn:hover{
    background-color: #7289da;
    color: white;
}


section{
    display: flex;
    justify-content: space-around;
}


#description{
    resize: none;
    height: 150px;
}

form{
    display: flex;
    flex-direction: column;
    width: 350px;    
    border-style: solid;
    border-radius: 10px;
    padding:10px;
    height: 350px;
}

/*Aside*/
aside{
    width: 50%;
    margin: 0 10px;
}
aside > div, #form-task, a.btn {
    background-color: #23272ae3;
    
}

.imp-del{
    display: flex;
    justify-content: flex-end;
}
.imp-del p {
    align-self: center;
    color: rgb(255, 123, 0);
}



.head-task{
    display: flex;
    justify-content: space-between;
}

#tasks-pers{
    border-style: solid;
    border-radius: 10px;
    padding:10px;
    border-color: green;
    margin: 0 0 10px 0;
}

#tasks-work{
    border-style: solid;
    border-radius: 10px;
    padding:10px;
    border-color:red;
    margin: 0 0 10px 0;
}

#tasks-school{
    border-style: solid;
    border-radius: 10px;
    padding:10px;
    border-color:rgb(0, 60, 255);
    margin: 0 0 10px 0;
}